* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
ul,
li {
  list-style: none;
  text-decoration: none;
}

/* Navbar */
.navigation a {
  color: white;
}

.navigation a.active {
  color: rgb(255, 255, 0);
}
